vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Dec 2005 09:26:48 -0000
vti_extenderversion:SR|6.0.2.6551
vti_author:SR|探梦乐园\\administrator
vti_modifiedby:SR|探梦乐园\\administrator
vti_timecreated:TR|24 Dec 2005 09:26:48 -0000
vti_cacheddtm:TX|24 Dec 2005 09:26:48 -0000
vti_filesize:IR|3153
vti_cachedlinkinfo:VX|S|ToolbarBg.gif S|ToolbarRIGHT.gif S|ToolbarLeft.gif S|TBHandle.GIF
vti_cachedsvcrellinks:VX|FSUS|admin/eWebEditor/CSS/CoolBlue/ToolbarBg.gif FSUS|admin/eWebEditor/CSS/CoolBlue/ToolbarRIGHT.gif FSUS|admin/eWebEditor/CSS/CoolBlue/ToolbarLeft.gif FSUS|admin/eWebEditor/CSS/CoolBlue/TBHandle.GIF
vti_backlinkinfo:VX|
