vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Dec 2005 09:26:48 -0000
vti_extenderversion:SR|6.0.2.6551
vti_author:SR|探梦乐园\\administrator
vti_modifiedby:SR|探梦乐园\\administrator
vti_timecreated:TR|24 Dec 2005 09:26:48 -0000
vti_cacheddtm:TX|24 Dec 2005 09:26:48 -0000
vti_filesize:IR|3444
vti_cachedlinkinfo:VX|S|bg_menu.gif S|d.gif S|bg_footer1.gif S|bg_lefttitle.gif S|bg_form1.gif
vti_cachedsvcrellinks:VX|FSUS|admin/eWebEditor/Admin/bg_menu.gif FSUS|admin/eWebEditor/Admin/d.gif FSUS|admin/eWebEditor/Admin/bg_footer1.gif FSUS|admin/eWebEditor/Admin/bg_lefttitle.gif FSUS|admin/eWebEditor/Admin/bg_form1.gif
vti_backlinkinfo:VX|
